doctype html
html
    head
        title= pageTitle
        script(type='text/javascript').
            console.log("Pug!");
        include /includes/meta.pug
    body
        include /components/nav.pug
        .container
            section
                .background-color-light-grey.padding-top-large.padding-bottom
                    .row
                        .column.s12
                            h1 Webpack, Sass & Pug
                            h2 it's all here.
                            p.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, 
                                impedit similique aperiam tempore numquam fuga et esse laboriosam 
                                suscipit velit, accusamus deleniti veritatis exercitationem error 
                                dolorum
                            
                            - var images = ["webpack", "pug","babel","sass"];
                            for img, ext in images
                                img(src=require("../img/"+img+".png") alt=(img+" logo") custom-property-such-as-lazy-loading)
                                p does #{img} work??
                            //- img(src=require("../img/webpack.png") alt="Webpack" custom-property-such-as-lazy-loading)
                            //- img(src=require("../img/pug.png") alt="Webpack" custom-property-such-as-lazy-loading)
                            //- img(src=require("../img/babel.png") alt="Webpack" custom-property-such-as-lazy-loading)
                            //- img(src=require("../img/sass.png") alt="Webpack" custom-property-such-as-lazy-loading)
        include /components/footer.pug
